h1, h2 {
font-family: 'Questrial', sans-serif;
}

p {
font-family: 'Nunito Sans', sans-serif;
}

h3, h4, h5, h6 {
font-family: 'Antic Didone', serif;
}
 
html {
color: #d5ffd2;
background-color: #363e38;
}

.panelsbsc:hover, .panelsbsc:focus, .panelsbsc:active {
  box-shadow: 0 0 8px rgb(178 255 169 / 66%);
}
.panelsbsc {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  width: 325px;
  height: 200px;
  position: relative;
  bottom: 100px;
  text-align: center;
  background-color: rgb(39 50 38);
  border-radius: 1em;
}
.abtme {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  width: 325px;
  height: 410px;
  text-align: center;
  background-color: rgb(39 50 38);
  border-radius: 1em;
}

.default-link{
  /* all rules required to make the whole div clickable */ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
  filter: alpha(opacity=0);  
  opacity:0;  
}
